<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tranvantungit.multithreadallexample">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".asynctask.AsynctaskActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />

        <service
            android:name=".jobscheduler.MyJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".loader.LoaderActivity" />
        <activity android:name=".service.ServiceActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity android:name=".boundservice.BoundServiceActivity" />

        <service
            android:name=".boundservice.MyService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>